{% extends 'base.html' %}

{% block content %}

<div style="
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 40px 20px;
">

    <div style="
        width: 75%;
        max-width: 900px;
        text-align: center;
        padding: 45px 40px;
    ">

        <h1 style="
            font-size: 5rem;
            color: #002D72;
            font-weight: 800;
            margin-bottom: 25px;
        ">
            Welcome to EZ Household
        </h1>

        <p style="
            font-size: 1.5rem;
            line-height: 1.25;
            color: #050045;
            max-width: 800px;
            margin: 0 auto 40px auto;
        ">
            EZ Household is a smart real estate and financial planning platform that helps users
            manage assets, track budgets, understand net worth, compare rent-versus-own decisions,
            calculate mortgages, and run investment simulations. It transforms complex financial
            and real estate data into clear insights, helping homeowners, investors, and families
            make smarter decisions, reduce risk, and plan for long-term growth.
        </p>

        <a href="{% url 'dashboard' %}" style="
            display: inline-block;
            background: #6366F1;
            color: rgb(255, 255, 255);
            padding: 14px 35px;
            border-radius: 14px;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 700;
            box-shadow: 0 10px 25px rgba(99,102,241,0.3);
        ">
            Let’s Get Started
        </a>

    </div>

</div>

{% endblock %}